<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather searcher</title>
    <link rel="icon" type="image/x-icon" href="weatherIcon.ico">
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <header>
        <h1>Weather Searcher</h1>
    </header>
    <main id="weatherData">
        <% if (weatherInfo != false) { %>
            <div class="container">
                <div id="containerHeader">
                    <h1><%= weatherInfo.name %> - <%= weatherInfo.country %></h1>
                </div>
                <div id="mainContent">
                    <table class="table table-bordered" style="width: 100%; height: 100%;">
                        <tr>
                            <th>Description</th>
                            <td><%=weatherInfo.description%></td>
                        </tr>
                        <tr>
                            <th>Temperature</th>
                            <td><%=weatherInfo.tempC%> °C | <%=weatherInfo.tempF%> °F | <%=weatherInfo.tempK%> K</td>
                        </tr>
                        <tr>
                            <th>Humidity</th>
                            <td><%=weatherInfo.humidity%> %</td>
                        </tr>
                        <tr>
                            <th>Wind speed</th>
                            <td><%=weatherInfo.windSpeed%> km/h</td>
                        </tr>
                    </table>
                </div>
                <div id="containerFooter">
                    <img src="https://openweathermap.org/img/wn/<%= weatherInfo.icon %>.png" />
                    <img src="https://openweathermap.org/img/wn/<%= weatherInfo.icon %>.png" />
                    <img src="https://openweathermap.org/img/wn/<%= weatherInfo.icon %>.png" />
                </div>
            </div>
            <% } else { %>
            <div class="container">
                <div id="containerHeader">
                    <img src="https://openweathermap.org/img/wn/01d.png"/>
                    <img src="https://openweathermap.org/img/wn/01n.png"/>
                    <img src="https://openweathermap.org/img/wn/02d.png"/>
                    <img src="https://openweathermap.org/img/wn/02n.png"/>
                    <img src="https://openweathermap.org/img/wn/03d.png"/>
                    <img src="https://openweathermap.org/img/wn/04d.png"/>
                </div>
                <div id="mainContent">
                    <h2>Welcome!</h2>
                    <h3>Insert a place coordinates below.</h3>
                    <h4>Example: Saint-Merri, Paris</h4>
                    <h4>Latitude: 48.8566, Longitude: 2.3522 </h4>
                </div>
                <div id="containerFooter">
                    <img src="https://openweathermap.org/img/wn/09d.png"/>
                    <img src="https://openweathermap.org/img/wn/10d.png"/>
                    <img src="https://openweathermap.org/img/wn/10n.png"/>
                    <img src="https://openweathermap.org/img/wn/11d.png"/>
                    <img src="https://openweathermap.org/img/wn/13d.png"/>
                    <img src="https://openweathermap.org/img/wn/50d.png"/>
                </div>
            </div>
        <% } %>
    </main>
    <footer>
        <form action="/" method="post">
            <input id="latInput" type="text" name="latitude" placeholder="Latitude" required>
            <input id="lonInput" type="text" name="longitude" placeholder="Longitude" required>
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        let dataFound = '<%= dataFound %>';
        let place = '<%= weatherInfo.name %>';
        const isMobile = window.innerWidth <= 576;
        const isMobileHorizontal = window.innerHeight <=500;
        if(dataFound == 'Invalid values'){
            Toastify({
                text: "Invalid values!",
                duration: 3000,
                gravity: "bottom",
                position: 'right',
                close: true,
                style: {
                    display: 'flex',
                    alignItems: 'center',
                    justifyContent: 'center',
                    fontSize: '100%',
                    background: "linear-gradient(to right, #FE3C13, #C70039)",
                    width: isMobile ? '60%' : '30%',
                    height: isMobile ? '12%' : '10%',
                    borderRadius: '40px',
                    textAlign: 'center'
                },
            }).showToast()
        }
        else if(dataFound == 'Success'){
            Toastify({
                text: isMobileHorizontal ? "Place found!" : "Coordinates found! Showing "+place+'!',
                duration: 3000,
                gravity: "bottom",
                position: 'right',
                close: true,
                style: {
                    display: 'flex',
                    alignItems: 'center',
                    justifyContent: 'center',
                    fontSize: isMobile ? '70%' : '100%',
                    background: "linear-gradient(to right, #4C9C30, #4EA25E)",
                    width: isMobile ? '60%' : '30%',
                    height: isMobile ? '12%' : '10%',
                    borderRadius: '40px',
                    textAlign: 'center'
                },
            }).showToast()
        }
    </script>
</body>
</html>
